// Place all the styles related to the bills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.ui-menu {
  background-color:#333;
  max-width:200px;
  list-style:none;
  li.ui-meu-item{
    background-color:#333;
    list-style:none;
  }
} 

